## SQLite Database Management

Create a database, store your interesting movie names with the names of lead actor, actress, year of release and the director name. Once you have stored the details, then use any programming language of your choice to retrieve the details.

### Connect to the SQLite database

In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

### Creating a new SQLite database

In [2]:
database = "Movies.db"
con = sql.connect(database)
cur = con.cursor()

### Creating a new table

In [3]:
cur.execute("DROP TABLE IF EXISTS Movies")

In [4]:
table = """ CREATE TABLE Movies (
            Moive_Name VARCHAR(50) NOT NULL,
            Actor_Name CHAR(25) NOT NULL,
            Actress_Name CHAR(25),
            Year_of_Release INT NOT NULL,
            Director_Name CHAR(25) NOT NULL
            );"""

In [5]:
cur.execute(table)

In [6]:
query = ''' SELECT * FROM Movies'''
df = pd.read_sql_query(query, con)
df

Empty DataFrame
Columns: [Moive_Name, Actor_Name, Actress_Name, Year_of_Release, Director_Name]
Index: []

### Inserting data into Movies table

In [7]:
cur.execute('''INSERT INTO Movies VALUES ('Inception', 'Leonardo DiCaprio', '', '2010','Christopher Nolan')''')
cur.execute('''INSERT INTO Movies VALUES ('The Dark Knight', 'cristian bale', '', '2008','Christopher Nolan')''')
cur.execute('''INSERT INTO Movies VALUES ('The Gray Man', 'Ryan Gosling, Chris Evans, Dhanush', 'Ana de Armas', '2022',' Joe Russo, Anthony Russo')''')
cur.execute('''INSERT INTO Movies VALUES ('Shang-Chi and The Legend of The Ten Rings', 'Simu Liu', 'Awkwafina', '2021',' Destin Daniel Cretton')''')
cur.execute('''INSERT INTO Movies VALUES ('The Imitation Game', 'Benedict Cumberbatch', 'Keira Knightley', '2014','Morten Tyldum')''')
cur.execute('''INSERT INTO Movies VALUES ('The Space Between Us', 'Asa Butterfield.', '', '2017','Peter Chelsom')''')
cur.execute('''INSERT INTO Movies VALUES ('Dune', 'Timothée Chalamet', 'Zendaya', '2021','Denis Villeneuve')''')
cur.execute('''INSERT INTO Movies VALUES ('Dejavu', 'Arulnithi', 'smruthi', '2022','Arvindh')''')
cur.execute('''INSERT INTO Movies VALUES ('Central Intelligence', 'Dwayne Johnson, Kevin Hart', '', '2016','Rawson Marshall Thurber')''')
cur.execute('''INSERT INTO Movies VALUES ('No Time To Die', 'Daniel Craig', 'Léa Seydoux', '2021','Cary Joji Fukunaga')''')

In [8]:
query = ''' SELECT * FROM Movies'''
df = pd.read_sql_query(query, con)
df

,Moive_Name,Actor_Name,Actress_Name,Year_of_Release,Director_Name
0,Inception,Leonardo DiCaprio,,2010,Christopher Nolan
1,The Dark Knight,cristian bale,,2008,Christopher Nolan
2,The Gray Man,"Ryan Gosling, Chris Evans, Dhanush",Ana de Armas,2022,"Joe Russo, Anthony Russo"
3,Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
4,The Imitation Game,Benedict Cumberbatch,Keira Knightley,2014,Morten Tyldum
5,The Space Between Us,Asa Butterfield.,,2017,Peter Chelsom
6,Dune,Timothée Chalamet,Zendaya,2021,Denis Villeneuve
7,Dejavu,Arulnithi,smruthi,2022,Arvindh
8,Central Intelligence,"Dwayne Johnson, Kevin Hart",,2016,Rawson Marshall Thurber
9,No Time To Die,Daniel Craig,Léa Seydoux,2021,Cary Joji Fukunaga

### Querying data from Movies table

Sorting Movies released after 2020

In [9]:
query1 = ''' SELECT * FROM Movies WHERE Year_of_Release >= 2020'''

In [10]:
df = pd.read_sql_query(query1, con)
df

,Moive_Name,Actor_Name,Actress_Name,Year_of_Release,Director_Name
0,The Gray Man,"Ryan Gosling, Chris Evans, Dhanush",Ana de Armas,2022,"Joe Russo, Anthony Russo"
1,Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
2,Dune,Timothée Chalamet,Zendaya,2021,Denis Villeneuve
3,Dejavu,Arulnithi,smruthi,2022,Arvindh
4,No Time To Die,Daniel Craig,Léa Seydoux,2021,Cary Joji Fukunaga

Sorting movies with no female lead role

In [11]:
query2 = ''' SELECT * FROM Movies WHERE Actress_Name ='' '''

In [12]:
df = pd.read_sql_query(query2, con)
df

,Moive_Name,Actor_Name,Actress_Name,Year_of_Release,Director_Name
0,Inception,Leonardo DiCaprio,,2010,Christopher Nolan
1,The Dark Knight,cristian bale,,2008,Christopher Nolan
2,The Space Between Us,Asa Butterfield.,,2017,Peter Chelsom
3,Central Intelligence,"Dwayne Johnson, Kevin Hart",,2016,Rawson Marshall Thurber

Selecting a movie with its Director's name

In [15]:
query3 = ''' SELECT * FROM Movies WHERE Director_Name == 'Christopher Nolan' '''

In [16]:
df = pd.read_sql_query(query3, con)
df

,Moive_Name,Actor_Name,Actress_Name,Year_of_Release,Director_Name
0,Inception,Leonardo DiCaprio,,2010,Christopher Nolan
1,The Dark Knight,cristian bale,,2008,Christopher Nolan